.box-modal {
	position: relative;
	width: 1146px;
	padding: 80px 68px 70px;
}

.box-modal_close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../img/cancel.svg');
	fill: #a9a9a9;
	border-radius: 50%;
	cursor: pointer; 
}

#popup_privacy-policy {
	background: #fff;
	color: #3c3c3c;
}

.privacy-policy-box-close {
	background-image: url('../img/cancel-p-p.svg');
}

.privacy-policy__heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 41px;
	text-align: center;
}

.privacy-policy__text {
	font-size: 18px;
	line-height: 30px;
	margin-top: 40px;
}

#popup_thank {
	width: 754px;	
	background-color: #184093;
	color: #fff;
	text-align: center;
}

.thank__title {
	font-size: 36px;
	line-height: normal;
	font-weight: 700;
}

.thank__text {
	font-size: 18px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#popup_application {
	color: #fff;
	background-color:  #212121;
	background-repeat: no-repeat;
	background-position: center; center;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url('../img/bg-form-3.png');
	padding-bottom: 80px;
	width: 754px;
}

.application-title {
	text-align: center;
}

.application-title__heading {
	font-size: 36px;
	line-height: normal;
}

.application-title__subheading {
	line-height: 32px;
	font-size: 24px;
	width: 500px;
	margin: 20px auto 0;
}

.b-application-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-top: 30px;
}

.application-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.application-form__input {
	width: 292px;
	height: 52px;
	background: none;
	border: none;
	outline: none;
	border: 2px solid #fff;
	background-color: #fff;
	text-align: center;
	font-size: 14px;
	color: #000;
}

.application-form__input::-moz-placeholder {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000;
}

.application-form__input::-webkit-input-placeholder {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000;
}

.application-form__input::placeholder {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000;
}

.application-form__input::input-placeholder {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000;
}

.application-form__input:not(:first-child) {
	margin-top: 10px;
}

.application-form__submit {
	background: none;
	border: none;
	outline: none;
	width: 292px;
	height: 52px;
	background-color: #184093;
	color: #fff;
	margin-top: 30px;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;
}








