html, body {
	width: 100%;
	max-width: 100%;
	min-width: 1400px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	line-height: 24px;
	position: relative;
}

ul, ol, li {
	display: block;
	margin: 0;	
	padding: 0;	
}

input::-moz-placeholder {
	opacity: 1;
}

input::-webkit-input-placeholder {
	opacity: 1;
}

input::placeholder {
	opacity: 1;
}

input::input-placeholder {
	opacity: 1;
}
textarea::-moz-placeholder {
	opacity: 1;
}

textarea::-webkit-input-placeholder {
	opacity: 1;
}

textarea::placeholder {
	opacity: 1;
}

textarea::input-placeholder {
	opacity: 1;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.fixed {
	position: fixed;
	z-index: 12;
	top: 0;
}

.mx {
	margin-left: 5px;
	margin-right: 5px;
}

.ml-a {
	margin-left: auto !important;
}
.mr-a {
	margin-right: auto !important;
}

.w100 {
	width: 100%;
}

.section-title {
	width: 100%;
}

.section-title__heading {
	font-weight: 700;
}

.section-title__subheading {

}

/* HEADER ALL */

.header-contact {
	background-color: #184093;
	color: #fff;
	font-size: 14px;
	width: 100%;
}

.b-mini-contact {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	height: 100%;
}

.b-mini-contact > * {
	height: 100%;
}

.b-mini-contact > *:not(:first-child) {
	margin-left: 73px;
}

.b-mini-contact__b-email {
	padding-top: 37px;
}

.b-mini-contact__b-address {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	line-height: 20px;
	font-size: 14px;
}

.b-mini-contact__b-num {
	font-weight: 600;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	line-height: 24px;
	font-size: 18px;
}

.working-hours:before {
	content: 'Режим работы';
}

.header-nav {
	background-color:  #12306F;
	width: 100%;
}

.nav {
	width: 100%;
}

.nav__list {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.nav__list-item {
	display: inline-block;
	height: 100%;
}

.nav__list-item:hover {
	display: inline-block;
	height: 100%;
}

.nav__list-item:not(:last-child):after {
	content: '';
	display: inline-block;
	margin-left: 47px;
	height: 8px;
	width: 8px;
	background-color: #41598C;
}

.nav__link {
	box-sizing: content-box;
	display: inline-block;
	padding-top: 18px;
	padding-bottom: 16px;
	color: #fff;
	font-weight: 600;
	line-height: 24px;
	text-decoration: none;
}

.nav__link_active, .nav__link:hover {
	transition: 0.4s;
	color: #fff;
	text-decoration: none;
	box-sizing: border-box;
	box-shadow: inset 0 -8px 0 -4px #FCD939;
}

.header-main {
	
}

.header-main .container {
	position: relative;
}

.header-main .container::before {
	content: '';
	width: 444px;
	height: 526px;
	position: absolute;
	left: 850px;
	top: 37px;
	background-repeat: no-repeat;
	background-position: 110% center;
	-webkit-background-clip: border-box;
	-moz-background-clip: border-box;
	background-clip: border-box;
	background-image: url('../img/engine.png');
}

.main-title {
	margin-top: 86px;
}

.main-title__sub-el {
	margin-top: 15px;
}


.main-title__heading {
	font-weight: 700;
	font-size: 64px;
	line-height: 85px;
}

.main-title__subheading {
	font-size: 24px;
	line-height: 28px;
}

.b-grade {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 42px;
}

.grade {
	width: 200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.grade:not(:last-child) {
	margin-right: 25px;
}

.grade__icon {
	flex: 1 1 48px;
	width: 48px;
	height: 48px;
	background-color: #FCD939;
	background-repeat: no-repeat;
	background-position: center center;
}

.grade__text {
	width: 130px;
	margin-left: 22px;
}

.grade__icon_experience {
	background-image: url('../img/experience.png');
}

.grade__icon_assortment {
	background-image: url('../img/assortment.png');
}

.grade__icon_payment {
	background-image: url('../img/payment.png');
}

.header-btn-know-more {
	display: inline-block;
	background-color: #184093;
	padding:  14px 31px;
	margin-top: 60px;
	margin-bottom: 106px;
	text-decoration: none;
	cursor: pointer;
}

.header-btn-know-more__text {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.4px;
	line-height: 16px;
	font-weight: 600;
}

.header-btn-know-more__text:after {
	content: '';
	display: inline-block;
	width: 6px;
	height: 10px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url('../img/arr.svg');
}

/* CATALOG */

.catalog-title__heading {
	font-size: 36px;
	line-height: 41px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.b-catalog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.b-catalog__engine {
	width: 264px;
	height: 200px;
	background-color: #F2F2F2;
	background-repeat: no-repeat;
	background-position: center center;
}

.b-catalog__engine:not(:nth-child(4n)) {
	margin-right: 30px;
}

.b-catalog__engine:nth-child(n+5) {
	margin-top: 30px;
}

.b-catalog__engine_yamz {
	background-image: url('../img/yamz.png');
}

.b-catalog__engine_tm3 {
	background-image: url('../img/tmЗ.png');
}

.b-catalog__engine_mm3 {
	background-image: url('../img/mmЗ.png');
}

.b-catalog__engine_scania {
	background-image: url('../img/scania.png');
}

.b-catalog__engine_john-deere {
	background-image: url('../img/john-deere.png');
}

.b-catalog__engine_volvo {
	background-image: url('../img/volvo.png');
}

.b-catalog__engine_perkins {
	background-image: url('../img/perkins.png');
}

.b-catalog__engine_iveco {
	background-image: url('../img/iveco.png');
}

.b-consultation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url('../img/bg-form-1.png');
	background-color: #173A84;
	color: #fff;
	padding: 50px 60px 35px;
	margin-top: 100px;
}

.b-consultation > * {
	width: 50%;
	min-width: 500px;
}

.b-consultation__heading {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	margin-top: 10px;
}

.b-consultation__text {
	width: 350px;
	line-height: 24px;
	font-size: 18px;
	margin-top: 10px;
}

.b-consultation__b-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.b-consultation__form {
	width: 292px;
}

.b-consultation__input {
	background: none;
	border: none;
	outline: none;
	width: 292px;
	height: 52px;
	padding: 17px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.4px;
	text-align: center;
}

.b-consultation__input_tel {
	background-color: rgba(255,255,255,.5);
	color: #fff;
}

.b-consultation__input_tel::-moz-placeholder {
	color: #fff;
	text-transform: uppercase;
}

.b-consultation__input_tel::-webkit-input-placeholder {
	color: #fff;
	text-transform: uppercase;
}

.b-consultation__input_tel::placeholder {
	color: #fff;
	text-transform: uppercase;
}

.b-consultation__input_tel::input-placeholder {
	color: #fff;
	text-transform: uppercase;
}

.b-consultation__input_submit {
	background-color: #fff;
	color: #184093;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	margin-top: 9px;
}

.agreement {
	display: block;
	width: 250px;
	margin: 0 auto;		
	color: rgba(255,255,255,.5) !important;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	margin-top: 9px;
	letter-spacing: normal
}

/* ADVANTAGE */

.advantage {
	padding-bottom: 110px;
}

.advantage-title__heading {
	text-align: center;
	font-size: 48px;
	line-height: 55px;
	margin-top: 80px;
}

.b-advantage {
	padding-left: 110px;
	padding-right: 110px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 60px;
}

.b-advantage__advantage {
	width: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.b-advantage__advantage:nth-child(n + 4) {
	margin-top: 80px;
}

.b-advantage__icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #FCD939;
	background-repeat: no-repeat;
	background-position: center center;
}

.b-advantage__icon_service {
	background-image: url('../img/tools.svg');
}

.b-advantage__icon_guarantee {
	background-image: url('../img/law.svg');
}

.b-advantage__icon_spare {
	background-image: url('../img/cogwheel.svg');
}

.b-advantage__icon_preservation {
	background-image: url('../img/box.svg');
}

.b-advantage__icon_discount {
	background-image: url('../img/discount.svg');
}

.b-advantage__icon_experience {
	background-image: url('../img/avatar.svg');	
}

.b-advantage__text {
	margin-left: 16px;
}

/* DELIVERY */

.delivery {
	background-color: #f2f2f2;
}

.delivery-title__heading  {
	font-size: 36px;
	line-height: 41px;
	text-align: center;
	margin-top: 80px;
}

.delivery-kind {
	background-color: #fff;
	padding-top: 60px;
	margin-top: 60px;
	text-align: center;
	height: 472px;
	overflow: hidden;
	margin-bottom: 100px;
}

.delivery-kind__icon {
	width: 80px;
	height: 80px;
	background-color: #184093;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin: 0 auto;
}

.delivery-kind_small .delivery-kind__icon {
	background-image: url('../img/small-cargo.svg');
	background-position: 16px 24px;
}

.delivery-kind_big .delivery-kind__icon {
	background-image: url('../img/big-cargo.svg');
	background-position: 15px 28px;
}

.delivery-kind__heading {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	margin-top: 16px;
}

.delivery-kind__list {
	
}

.delivery-kind__list-item {
	margin-top: 20px;
}

.delivery-kind__list-item:first-child {
	margin-top: 40px;
}

/* WORKING */

.b-working-step {
	margin-top: 40px;
	margin-bottom: 30px;	
}

.working-title__heading {
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	margin-top: 100px;
}

.b-working-step__list {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.b-working-step__index {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #f2f2f2;
	color: #184093;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.b-working-step__list-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.b-working-step__list-item:not(:last-child) .b-working-step__index:after {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	background-color: #E0E0E0;
	position: absolute;
	top: 39px;
	right: -108px;
}

.b-working-step__desc {
	width: 130px;	
	margin-top: 16px;
	text-align: center;
}

.trust-title__heading {
	font-size: 24px;
	line-height: 28px;
	margin-top: 60px;	
}

.b-com-trust {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	margin-top: 20px;
}

.com-trust {
	width: 264px;
	height: 160px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.com-trust:not(:first-child) {
	margin-left: 30px;	
}

/* GUARANTEE */

.guarantee-title__heading {
	text-align: center;
	font-size: 36px;
	line-height: 41px;
	margin-top: 100px;
}

.b-guarantee {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.b-guarantee__guarantee {
	width: 270px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
}

.b-guarantee__guarantee:not(:first-child) {
	margin-left: 32px;
}

.b-guarantee__icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #FCD939;
	background-repeat: no-repeat;
	background-position: center center;
}

.b-guarantee__guarantee_division .b-guarantee__icon {
	background-image: url('../img/worker.svg');
}

.b-guarantee__guarantee_certificate .b-guarantee__icon {
	background-image: url('../img/check-list.svg');
	background-position-x: 25px
}

.b-guarantee__guarantee_free .b-guarantee__icon {
	background-image: url('../img/magnifier.svg');
}

.b-guarantee__text {
	font-size: 24px;
	line-height: 28px;
	width: 310px;
	margin-top: 16px;
}

/* ABOUT */

.about-title__heading {
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	margin-top: 120px;
}

.b-photo-company {
	margin-top: 40px;
}

.b-photo-company__img {
	display: block;
	width: auto;
	margin: 0 auto;
}

.b-about-us {
	margin-top: 60px;
}

.our-worker-heading {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin-top: 40px;
}

.b-worker {
	margin-top: 20px;
}

.worker {
	width: 100%;
	height: 100%;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.worker__b-photo {
	width: 166px;
	height: 220px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.worker__photo {
	
}

.worker__about {
	margin-top: 10px;
}

.worker__name {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}

.worker__post {
	font-size: 12px;
	line-height: 14px;
	margin-top: 4px;
}

.worker__contact {
	color: rgba(0,0,0,.5);
	margin-top: 4px;
	font-size: 12px;
	line-height: 14px;
}

.worker__num {
	
}

.worker__email {
	margin-top: 4px;
}

.certificate-title__heading {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin-top: 40px;
}

.b-certificate {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 80px;	
}

.certificate {
	display: block;
	width: 166px;
	height: 211px;
	padding-top: 124px;
	color: #184093;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center 50px;
	background-image: url('../img/certificate.svg');
	text-decoration: none;
	background-color: #f2f2f2;
}

.certificate:not(:first-child) {
	margin-left: 30px;
}

.certificate:hover {
	color: #184093;
	text-decoration: none;
	outline: 1px solid #184093;
}

/* QUESTION */

.contact {
	color: #fff;
}

.contact .container {
	box-sizing: content-box;
	padding-left: 130px;
	padding-right: 130px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url('../img/bg-form-2.png');
	background-color:  #212121;
}

.contact-title__heading {
	font-size: 36px;
	line-height: normal;
	margin-top: 80px;
	text-align: center;
}

.contact-title__subheading {
	width: 482px;
	margin: 20px auto 0;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
}

.b-form-q {
	margin-top: 30px;
	margin-bottom: 80px;		
}

.b-form-q__form {
	width: 595px;	
	margin: 0 auto;	
	font-size: 14px;
	letter-spacing: 0.1em;
}

.b-form-q__b-input {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.b-form-q__input {
	background: none;	
	border: none;
	outline: none;
	width: 292px;
	height: 52px;	
	padding: 17px;	
	background-color: #fff !important;
	text-transform: uppercase;
	text-align: center;
}
.b-form-q__input::-moz-placeholder {
	color: #000;
	letter-spacing: 0.1em;
}

.b-form-q__input::-webkit-input-placeholder {
	color: #000;
	letter-spacing: 0.1em;
}

.b-form-q__input::placeholder {
	color: #000;
	letter-spacing: 0.1em;
}

.b-form-q__input::input-placeholder {
	color: #000;
	letter-spacing: 0.1em;
}

.b-form-q__input:not(:first-child) {
	margin-top: 10px;	
	letter-spacing: 0.1em;
}

.b-form-q__b-submit {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-top: 30px;	
}

.b-form-q__submit {
	background: none;	
	border: none;
	outline: none;
	background-color: #416BC2;;
	box-sizing: content-box;
	text-transform: uppercase;
	color: #fff;
	padding: 17px 32px;
	letter-spacing: 0.1em;
	cursor: pointer;
}

.b-form-q__b-user-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.b-form-q__textarea {
	background: none;
	border: none;
	outline: none;
	resize: none;
	overflow: auto;
	background-color: #fff;
	width: 292px;
	height: 176px;
	padding: 17px;
	text-align: center;
	position: relative;
	margin-left: 10px;
}

.b-form-q__textarea::-moz-placeholder {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.b-form-q__textarea::-webkit-input-placeholder {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.b-form-q__textarea::placeholder {
	color: #000;
	text-transform: uppercase;
}

.b-form-q__textarea::input-placeholder {
	color: #000;
	text-transform: uppercase;
}

/* FOOTER */

.footer {
	padding-top: 30px;
}

.map {
	width: 100%;
	height: 100%;
}

#map {
	background-color: #f2f2f2;
	max-width: 100%;
	max-height: 100%;
}

.b-comp-info {
	margin-left: 20px;
}

.b-comp-info__list-item {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 22px;
}

.b-comp-info__list > li:before {
	display: block;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 12px;
}

.b-comp-info__address:before {
	content: 'Адрес';
}

.b-comp-info__num:before {
	content: 'Телефон';
}

.b-comp-info__working-hours:before {
	content: 'Режим работы';
}

.b-comp-info__email:before {
	content: 'Электронная почта';
}

.b-comp-info__list-item_requisite:before {
	content: 'Реквизиты';
}

.b-copm-info__requisite-list {
	line-height: 23px;
}

.b-privacy-policy {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	position: relative;
}

.privacy-policy {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 40px;
	cursor: pointer;
}

.b-copyright {
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	left: 0;
	top: 0;
}




